*{
    margin: 0;
    padding: 0;
}

.flex_class {
    display: flex;
}

/*Start contact boxes*/
/*Online contact box start*/
.contact_item_portrait_online{
    margin-right: 10px;
    margin-left: 15px;
}

.portrait_online{
border-radius: 100%;
width: 35px;
}
.contact_item_text_online{
    padding-right: 10px;
}

.contact_item_title_online{
    font-family: 'Roboto';
    font-size: 16px;
}

.contact_item_paragrph_online{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: #828485;
    
}

.list_item_online{
    display: flex;
    justify-content: flex-end;
    list-style: none;  
    /* background-color: red;  */
    width: 100px;
}

.list_item_online li i{
    color: #828485;
    margin-left: 15px;
}
/*Online contact box end*/

.aside_contact_container{
    flex-direction: column;
}

.contact_container_button{
    border-top: 1px solid #BEC1BB;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_item_button{
    font-family: 'Roboto';
    font-size: 16px;
    width: 180px;
    height: 50px;
    border-color: #A491D2;
    background-color:#A491D2;
    color: #FFF;
}

.contact_item_button:hover{
    font-family: 'Roboto';
    font-size: 16px;
    width: 180px;
    height: 50px;
    border-color: #CDC3E6;
    background-color:#CDC3E6;
    color: #FFF;
}

.contact_container{
    display: flex;
    width: 250px;
    height: 75px;
    align-items: center;
    border-top: 1px solid #BEC1BB;
}

.contact_item_portrait{
    margin-right: 15px;
    margin-left: 20px;
}

.portrait{
    border-radius: 100%;
    width: 55px;
}

.contact_item_text{
    padding-right: 10px;
    align-items: center;
}

.contact_item_title{
    font-family: 'Roboto';
    font-size: 16px;
}

.contact_item_paragrph{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
/*End contact boxes*/

.chat_container_area{
    background-color: #E8EBE4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.networking{
    width: 280px;
}

.chat_item_area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
}

.chat_item_title{
    font-family: 'Roboto';
    font-size: 45px;
}

.chat_item_paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*OK*/